<!-- <app-list></app-list> -->
<!-- <app-counter [count]="count" (increaseEvent)="increase()" (decreaseEvent)="decrease()"></app-counter> -->

<!-- <app-shop></app-shop> -->

<!-- <app-market></app-market>
<app-list></app-list> -->



<app-header></app-header>

<button [routerLink]="['users']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Users</button>

<button [routerLink]="['contacts']" routerLinkActive="active-link"
  [routerLinkActiveOptions]="{exact: true}">Contacts</button>

<button [routerLink]="['contact', cardId]" routerLinkActive="active-link"
  [routerLinkActiveOptions]="{exact: true}">Contact detail</button>

<button [routerLink]="['market']" routerLinkActive="active-link"
  [routerLinkActiveOptions]="{exact: true}">Market</button>

<button [routerLink]="['forms']" routerLinkActive="active-link"
  [routerLinkActiveOptions]="{exact: true}">Forms</button>


<div>
  <router-outlet></router-outlet>
</div>
